
//clearfix
@import "compass/utilities/general/clearfix";

////////////////////////////////////////////////////////
//基本設定
////////////////////////////////////////////////////////
//ページ幅
$pageWidth:950px;
//サイドナビエリア幅
$sideWidth:220px;
//ページ間隔
$pageMargin:40px;
//コンテンツエリア幅
$contentWidth:$pageWidth - $pageMargin - $sideWidth;

////////////////////////////////////////////////////////
//共通間隔
////////////////////////////////////////////////////////
//共通margin間隔
$globalMargin:15px;
//共通padding間隔
$globalPadding:10px;

////////////////////////////////////////////////////////
//カラー設定
////////////////////////////////////////////////////////
//ページ背景色
$colorBody:#003b6a;
//メインカラー1
$colorMain1:#003b6a;
//メインカラー2
$colorMain2:#00adda;
//メインカラー3
$colorMain3:#e3f5ff;

////////////////////////////////////////////////////////
//テキスト設定
////////////////////////////////////////////////////////



